<!--
Name: Patrick Sullivan
Date: March 1, 2026
File: 500.handlebars
Overview: This file is my custom 500 page. It is for edge case errors when something is unable to load in, but in regards to edge cases. 
It renders through main.handelbars.
-->
<div class="error-container">
  <h1 class="error-code">500</h1>
  <h2>Something Went Wrong</h2>
  <p>Our server encountered an unexpected issue.</p>
  <p>We're working to fix it. Try refreshing or come back later.</p>
  
  <div class="error-actions">
    <a href="/" class="buttonPrimary">← Back to Home</a>
  </div>
</div>