 <section class="meetKatherine">
        <div class="katherineInfoSection">
            <img 
            src="/images/hero_image.png"
            alt="Meet Katherine Sullivan Image"
            class="kcAboutImage"
            />
        
        <div class="aboutTextContent">
        <h2 class="aboutKCh2">Meet Katherine...</h2>
            
            <ul class="kcInfoList">
                <li class="infoList">Waiting for Katherine's information...</li>
                <li class="infoList">Waiting for Katherine's information...</li>
                <li class="infoList">Waiting for Katherine's information...</li>
                <li class="infoList">Waiting for Katherine's information...</li>
            </ul>
         </div>
        </div>
    </section>

<hr />

    <section class="mapLocationSection">
    <h2 class="mapTitle">Find Katherine's office with ease!</h2>
     
     <div class="googleMapWrapper">
        <gmp-map
            id="officeMap"
            class="googleMapRender"
            center="37.4220656,-122.0840897"
            zoom="10"
            style="height: 500px">
            <gmp-marker id="officeMarker" title="Katherine's Office"></gmp-marker>
            </gmp-map>
        </div>
    
     <div class="mapStatus">
        <p id="geoStatus">Ready</p>
        <p id="geoResult"></p>
        <button id="recenterBtn" type="button">Recenter to Office</button>
     </div>
    </section>