<!--
Name: Patrick Sullivan
Date: March 1, 2026
File: contact.handlebars
Overview: This is the handlebar version of my contact html page. It takes the body information, and is rendered through main.handlebars
when a user clicks to the page, also loading in its respective event logic through a conditional script in main.handlebars.
-->
<div class="contactBox">
        <h1 class="contactText">Ready to talk?</h1>
        
        <div class ="contactButtonWrap">
            <button id="toEmailForm" class="contactButtons">I have a question</button>
            <button id="toCalendlyBooker" class="contactButtons">I want to book a session</button>
        </div>
    </div>

<hr />

    <div id="weatherBar" class="fullWidthBar">
        <span id="weatherInfo">Fetching weather data...</span>
    </div>

<hr />

    <section id="bookingSection">
      <div class="bookSessionWrapper" id="bookSessionSection">
        <h2 class="bookSessionHeader">Book a session with Katherine!</h2>
            <div class="calendly-inline-widget" data-url="https://calendly.com/patrick-sullivan-uri/30min"></div>
      </div>
    </section>

<hr />

    <section id="contactSection" class="contact" aria-labelledby="contactTitle">
        <h2 class="emailFormHeader">Send Katherine an email!</h2>
        <form class="contactForm">
            <label class="field">
                <span>Name</span>
                <input type="text" required>
            </label>

            <label class="field">
                <span>Email</span>
                <input type="email" required>
            </label>

            <label class="field">
                <span>Message</span>
                <textarea rows="5" required></textarea>
            </label>

            <button type="submit" class="buttonPrimary">Submit</button>
        </form>
    </section>