:root {
    --bg-main: gray;
    --bg-card: #ffffff;
    --text-primary: #2e2e2e;
    --accent: #8fae9d;
    --accent-hover: #7c9b8b;
}
body {
    background-color: var(--bg-main);
    color: var(--text-primary);
    font-family: sans-serif;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    background: var(--bg-main);
    color: var(--text-primary);
    transition: bakground 200ms ease, box-shadow 200ms ease, transform 200ms ease;
}
/* Inner nav container for centering, spacing, and keeping things organized */
.innerNav {
    max-width: 1700px;
    margin: 0 auto;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Nav list layout */
.navList {
    display: flex;
    flex-direction: row;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navLogo {
    height: 50px;
    width: auto;
    display: block
}
/* Nav text styling. Removing hyperlink decoration and adding the global variable relative to text color */
.navList a,
.navList a:link,
.navList a:visited {
    color: var(--text-primary);
    text-decoration: none;
}
#navLogic {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s ease;
}
.aboutHeroWrapper .aboutHeader {
    color: var(--text-primary)
}
