body {
    background-color: lightgray;
    color: black;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
}
nav {
    background-color: gray;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2)
}
.innerNav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
}
.navList {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
    padding-left: 50px;
    padding-bottom: 25px;
    overflow: hidden
}
a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
}
.heroText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}
.hero_image {
    width: 550px;
    height: 350px;
    border-radius: 20px;
    display: block;
}
.heroImage_wrapper {
    padding-top: 100px
}
.heroCTA {
    width: 120px;
    height: 50px;
    border-radius: 15px;
    background-color: black;
    color: lightgray;
    font-size: 20px;
}
.heroText h1 {
    margin-bottom: 8px;
    font-size: 50px;
}
.heroText p {
    margin-top: 0px;
    font-size: 25px;
}


