<!--
Name: Patrick Sullivan
Date: March 1, 2026
File: main.handlebars
Overview: This file is the main handlebar layout for the site. It takes in the body content from each specific handlebar file, 
and renders the content within "body", as well as applying the proper JS logic to each respective file being rendered. 
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{pageTitle}} | Katherine Sullivan LCSW</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{#if stylesheet}}
            <link rel="stylesheet" href="/css/{{stylesheet}}.css">
        {{/if}}
    </head>
    
    <body>
    
    <!--NAVBAR-->
        <header>
            <nav class="navBar" id="navLogic">
                <div class="innerNav">
                <img 
                src="/images/KC_Logo.png"
                alt="Katherine Sullivan LCSW logo"
                class="navLogo"
                />
                <ul class="navList">
                    <li class="navbar_home"><a href="/">Home</a></li>
                    <li class="navbar_about"><a href="/about">About</a></li>
                    <li class="navbar_contact_CTA"><a href="/contact">Contact</a></li>
                </ul>
              </div>
            </nav>
        </header>

        <main>
            {{{body}}}
        </main>

        {{#if pageJS}}
            <script src="/js/{{pageJS}}.js"></script>
        {{/if}}

        {{#if isAbout}}
            <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcJfQtl7zxKFtpISZ4Uza01Yx_4kX1oN0&libraries=maps,marker&loading=async&v=weekly"></script>
        {{/if}}

        {{#if isContact}}
            <script src="https://assets.calendly.com/assets/external/widget.js" async></script>
        {{/if}}
    </body>
</html>